In [1]:
l=[1,2,3,5]
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [1]:
l1=["rahul","sachin","sanu"]
for i in l1:
    print(i,',')

rahul ,
sachin ,
sanu ,

In [2]:
l1

['rahul', 'sachin', 'sanu']

In [3]:
for i in l1:
    print(i)
else:
    print("do something")

rahul
sachin
sanu
do something

In [4]:
l1

['rahul', 'sachin', 'sanu']

In [5]:
for i in l1:
    if i=="sanu":
        break
    print(i)

rahul
sachin

In [11]:
l1

['rahul', 'sachin', 'sanu']

In [12]:
for i in l1:
    if i=="sachin":
        break
    print(i)
else:
    print("patrhak")

rahul

In [13]:
l1

['rahul', 'sachin', 'sanu']

In [14]:
for i in l1:
    if i=="sachin":
        continue
    print(i)
else:
    print("pathak")

rahul
sanu
pathak

In [15]:
range(5)

range(0, 5)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [17]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [19]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [22]:
l1

['rahul', 'sachin', 'sanu']

In [24]:
for i in range(len(l1)):
    print(l1[i])

rahul
sachin
sanu

In [23]:
list(range(len(l1)))

[0, 1, 2]

In [26]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

sanu
sachin
rahul

In [32]:
l2=[12,1,3,54,16,45,4,6,58,89,45,56,47,45,54,12,1,3]
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [34]:
for i in range(0,len(l2),2):
    print(l2[i])

12
3
16
4
58
45
47
54
1

In [35]:
list=[1,2,3,4,5,6,4,6,4,56,45,54,]
sum(list)

190

In [37]:
sum=0
for i in list:
    sum=sum+i
sum

190

In [39]:
t=(1,2,3,4,5,6,7)
for i in t:
    print(i)

1
2
3
4
5
6
7

In [40]:
sum=0
for i in t:
    sum=sum+i
sum

28

In [41]:
s={1,2,2,3,2,4,"rahul","pathak"}
for i in s:
    print(i)

1
2
3
4
pathak
rahul

In [42]:
s1="rahul"
for i in s1:
    print(i)

r
a
h
u
l

In [44]:
d={"name":"rahul","class":"data science","topic":["paython","stats","ml","dl","cv"]}
d["name"]

'rahul'

In [45]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [46]:
d

{'name': 'rahul',
 'class': 'data science',
 'topic': ['paython', 'stats', 'ml', 'dl', 'cv']}

In [47]:
for i in d.keys():
    print(d[i])

rahul
data science
['paython', 'stats', 'ml', 'dl', 'cv']

In [49]:
d.values()

dict_values(['rahul', 'data science', ['paython', 'stats', 'ml', 'dl', 'cv']])

In [50]:
for i in d.values():
    print(i)

rahul
data science
['paython', 'stats', 'ml', 'dl', 'cv']

In [52]:
d.items()

dict_items([('name', 'rahul'), ('class', 'data science'), ('topic', ['paython', 'stats', 'ml', 'dl', 'cv'])])

In [53]:
for i in d.items():
    print(i)

('name', 'rahul')
('class', 'data science')
('topic', ['paython', 'stats', 'ml', 'dl', 'cv'])

In [1]:
#while loop
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [2]:
# sum of the number in range
n=int(input("enter your linit"))
start_point=0
last_point=1
while last_point <=n:
    start_point=start_point+last_point
    last_point=last_point+1
start_point

enter your linit5

15

In [5]:
numbe=int(input("enter a number"))
fact=1
while numbe>0:
    fact=fact*numbe
    numbe=numbe-1
fact

enter a number5

120

In [7]:
# finonacci series
n=int(input("enter a number "))
a,b=0,1
ans=0
while ans<n:
    print(a)
    c=a+b
    a=b
    b=c
    ans=ans+1

enter a number 5
0
1
1
2
3

In [9]:
a,b=0,1
for i in range (10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [10]:
s="sudh"
s[::-1]

'hdus'

In [11]:
str=input("enter a string for revers")
reverse=""
length=len(str)
while length>0:
    reverse=reverse+str[length-1]
    length=length-1
print(reverse)

enter a string for reversrahul
luhar

In [2]:
#print table of number
n=int(input("enter a number"))
i=0
while i<=10:
    table=n*i
    i+=1
    print(n,"x",i,"=",table)

enter a number2
2 x 1 = 0
2 x 2 = 2
2 x 3 = 4
2 x 4 = 6
2 x 5 = 8
2 x 6 = 10
2 x 7 = 12
2 x 8 = 14
2 x 9 = 16
2 x 10 = 18
2 x 11 = 20

In [15]:
n=5
i=1
while i<n:
    print(i)
    i=i+1
else:
    print("it's done")

1
2
3
4
it's done

In [17]:
n=5
i=1
while i<n:
    print(i)
    if i==3:
        break
    i=i+1
else:
    print("it's done")

1
2
3

In [2]:
l=[1,2,3,45,6]
l1=[]
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 2025, 36]

In [3]:
[i**2 for i in l]

[1, 4, 9, 2025, 36]

In [4]:
[i for i in l if i%2==0]

[2, 6]

In [5]:
l1 = ["rahul","pathak","shivam","pathak"]
[i.upper() for i in l1]

['RAHUL', 'PATHAK', 'SHIVAM', 'PATHAK']

In [6]:
l

[1, 2, 3, 45, 6]

In [8]:
(i**2 for i in l)

In [9]:
list(i**2 for i in l)

[1, 4, 9, 2025, 36]

In [11]:
d={"key":1,"key2":2,"key3":3,"key4":4}
d.items()

dict_items([('key', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [12]:
{k:v**2 for k,v in d.items()}

{'key': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [13]:
d

{'key': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [14]:
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4}

In [15]:
# function
print("hello world")

hello world

In [16]:
def test():
    pass

In [17]:
def test1():
    print("rahul pathak")
test1()

rahul pathak

In [18]:
test1()

rahul pathak

In [19]:
def test2():
    return "this is rahul pathak"
test2()

'this is rahul pathak'

In [21]:
test2()+ " rahul"

'this is rahul pathak rahul'

In [22]:
def test3():
    return "sudh",23,345.56,[1,2,3,4]
test3()

('sudh', 23, 345.56, [1, 2, 3, 4])

In [23]:
a,b,c,d=test3()

In [24]:
a

'sudh'

In [25]:
b

23

In [26]:
c

345.56

In [27]:
d

[1, 2, 3, 4]

In [28]:
a,b=4,5

In [29]:
a

4

In [30]:
b

5

In [34]:
def test4():
    a=5+6/7
    return a
test4()

5.857142857142857

In [35]:
def test5(a,b,c):
    d=a+b/c
    return d

In [38]:
test5(5,12,12)

6.0

In [39]:
def test6(a,b):
    return a+b
test6(4,5)

9

In [41]:
test6("rahul","pathak")

'rahulpathak'

In [42]:
test6([1,2,3,4,5],[5,6,7])

[1, 2, 3, 4, 5, 5, 6, 7]

In [44]:
l=[1,2,3,4,"rahul","pathak",[1,2,3,4,5,6]]
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)
l1

[1, 2, 3, 4]

In [45]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)==int or type(i) == float:
            l1.append(i)
    return l1

In [46]:
test7(l)

[1, 2, 3, 4]

In [47]:
l

[1, 2, 3, 4, 'rahul', 'pathak', [1, 2, 3, 4, 5, 6]]

In [48]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)== int or type(i) == float:
                l.append(i)
    return l

In [49]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [50]:
l

[1, 2, 3, 4, 'rahul', 'pathak', [1, 2, 3, 4, 5, 6]]

In [53]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [26]:
def test9(a):
    """this is my function to extract num data list"""
    
    l=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l.append(j)
        else:
            if type(i)== int or type(i) == float:
                l.append(i)
    return l

In [28]:
test9(a)

[2, 5, 1, 4, 8, 5, 1, 6, 3, 4, 8, 1, 25, 4, 3]

In [56]:
def test10(a,b):
    return a+b

In [57]:
def test11(*args):
    return args

In [58]:
type(test11())

tuple

In [59]:
test11(1,2,3)

(1, 2, 3)

In [60]:
test11(1,2,3,4,5,6,7,8,9,10,11,112)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 112)

In [61]:
def test12(*rahul):
    return rahul

In [62]:
test12(1,12,21,41,)

(1, 12, 21, 41)

In [63]:
def test13(*args,a):
    return args , a

In [65]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [68]:
def test14(c,d,a=23,b=1):
    return a,b,c,d

In [69]:
test14(3,4)

(23, 1, 3, 4)

In [70]:
test14(2,5,a=2546)

(2546, 1, 2, 5)

In [71]:
def test15(**kwargs):
    return kwargs

In [73]:
test15()

{}

In [74]:
type(test15())

dict

In [75]:
test15(a=[1,2,3,4], b= "rahul",c=20.25)

{'a': [1, 2, 3, 4], 'b': 'rahul', 'c': 20.25}

In [3]:
print("hello" "\n" "world")

hello
world

In [15]:
def valid_square(num):
    square = int(num**0.5)
    check = square**2==num
    return check

#valid_square(10)
# False
valid_square(9)
# True

True

In [19]:
def valid_square(num):
    square = (num**0.5)
    check = square**2==num
    return check
valid_square(36)

True

In [28]:
def remove_duplicates(list):
    new_list=[]
    for i in a:
        if i not in new_list:
            new_list.append(i)
    return new_list
a=[2,5,6,9,2,5,9,6,5,26,9,5,2,69]
print(remove_duplicates(a))

[2, 5, 6, 9, 26, 69]

In [40]:
def find_missing_element(list):
    sum_of_list=sum(a)
    n=(len(a)+1)
    sum_new=(n*(n+1))/2
    return int(sum_new-sum_of_list)
a=[1,2,3,5,6,7,8,9,10,11,12]
find_missing_element(a)

4

In [2]:
a=[2,6,3,5,4,9,5,1,8]
target=9
for i in a:
    for j in a:
        if i+j==target:
            print(a.index(i),a.index(j))
            #print(a.index(j),j)
#print(a.index(i))
#print(a.index(j))

1 2
2 1
3 4
4 3
4 3
3 4
7 8
8 7

In [2]:
import statistics as stat

In [4]:
data=[4,5,6,9,8,2,4,3]
valmean=stat.mean(data)
valmeadian=stat.median(data)
valmode=stat.mode(data)
valvar=stat.variance(data)
valstd=stat.stdev(data)
valran=max(data)-min(data)
print(valmean)
print(valmeadian)
print(valmode)
print(valvar)
print(valstd)
print(valran)

5.125
4.5
4
5.839285714285714
2.416461403433896
7

In [16]:
a=[2,5,2,5,6,1,3,5,4,1,3,5,1,4,5,2,1,2,1,1,2,8]
b=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]==a[j] and a[i] not in b:
            b.append(a[i])
print(b)

[2, 5, 1, 3, 4]

In [21]:
print(sum(range(0,5)))

10

In [25]:
n=int(input("enter a number"))
x=int(input("enter limit of table"))
for i in range(1,x+1):
    fact=n*i
    print(n,"*",i,"=", fact)

enter a number2
enter limit of table10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [4]:
def count_duplicates(input_list):
    count_dict={}
    for i in input_list:
        if i in count_dict:
            count_dict[i]+=1
        else:
            count_dict[i]=1
    return count_dict
original_list=[1,2,2,3,3,4,4,5]
result_dict=count_duplicates(a)
print(result_dict)

{1: 1, 2: 2, 3: 2, 4: 2, 5: 1}

In [6]:
a=[7,8,4,8,7,4,8,2,1,3,2,1,5,6,1]
count={}
def count_duplicate(list):
    for i in a:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    return count
count_duplicate(a)
print(count)

{7: 2, 8: 3, 4: 2, 2: 2, 1: 3, 3: 1, 5: 1, 6: 1}

In [8]:
a=[1,2,5,1,6,9,5,4,1,1,4,5,1,5,6,5,6,2,3,5,8,4,8,7,9,4,8,7,9]
b=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]==a[j] and a[i] not in b:
            b.append(a[i])
print(b)

[1, 2, 5, 6, 9, 4, 8, 7]

In [17]:
a=[1,2,2,1,8,4,9,4,5,6,12,3,7,41,3]
b=[]
for i in a:
    if i not in b:
        b.append(i)
c=sorted(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 41]

In [4]:
n=int(input("enter a number "))
for i in range(0,n,):
    for j in range(i+1):
        print(" *",end='')
    print()

enter a number 5
 *
 * *
 * * *
 * * * *
 * * * * *

In [14]:
n=int(input("enter a number"))
for i in range(n+1):
    print(" "*(n-i)+"* "*i)

enter a number5

    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
a=[2,5,1,4,8,5,1,6,3,4,8,1,25,4,3]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[2, 5, 1, 4, 8, 6, 3, 25]

In [3]:
a=[2,5,1,4,8,5,1,6,3,4,8,1,25,4,3]
b=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]==a[j] and a[i] not in b:
            b.append(a[i])
print(b)

[5, 1, 4, 8, 3]

In [7]:
a=[2,5,1,4,8,5,1,6,3,4,8,1,25,4,3]
b={}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

{2: 1, 5: 2, 1: 3, 4: 3, 8: 2, 6: 1, 3: 2, 25: 1}

In [10]:
a=input("enter your equestion here: ")
print(eval(a))

enter your equestion here: 12+12+12-5
31