In [2]:
def my_function():
    print("hello world")
my_function()

hello world

In [9]:
def addition(n1:int,n2:int):
    n3=n1+n2
    return n3
n1,n2=5,10
result = addition(n1,n2)
print("addition value is:", result)

addition value is: 15

In [12]:
a=(int(input("enter a  number")))
def check_number():
    if a%2==0:
        print("number is even")
    else:
        print("number is odd")
check_number()
print(a)

enter a  number7
number is odd
7

In [59]:
def swap(a,b):
    x=4
    y=5
    x,y=y,x
swap(x,y)
print(x,y)

3 2

In [9]:
#given number is prime or not
a=int(input("enter a number to check prime or not "))
for i in range (2,a):
    if a%i==0:   
        print(a ,"is not a prime number")
        break
else:
    print(a ,"is a prime number")

enter a number to check prime or not 9
9 is not a prime number

In [2]:
#fibonacci number
n=int(input("enter number to print fibonacci series"))
def fibo(number):
    a=0
    b=1
    for i in range (2,n+1):
        c=a+b
        a=b
        b=c
        print(c)
fibo(n)

enter number to print fibonacci series10
1
2
3
5
8
13
21
34
55

In [2]:
# foctorial
def fact(n):
    f=1
    for i in range (1,n+1):
        f=f*i
    return f
x=5
result=fact(x)
print(result)

120

In [11]:
a=0
b=0
def swap(x,y):
    global a,b
    a,b=b,a
a=3
b=5
swap(a,b)
print(a,b)

5 3

In [5]:
n=int(input("enter a number "))
i=1
count=0
while (i<=n):
    if n%i==0:
        count=count+1
    i=i+1
if count==2:
        print("number is prime")
else:
    print("number is not prime")

enter a number 5
number is prime

In [5]:
num=int(input("enter a number to check"))
reverse=int(str(num)[::-1])
if num==reverse:
    print("this is a palidrome number")
else:
    print("this is not a palidrome number")

enter a number to check1441
this is a palidrome number

In [3]:
num=int(input("enter a three digits number"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+(digit*digit*digit)
    temp=temp//10
if sum==num:
    print("it is a armstrong number")
else:
    print("it is not armstrong number")

enter a three digits number153
it is a armstrong number

In [4]:
n=int(input("enter any number "))
x=n
sum=0
while (n>0):
    sum=sum+(n%10)*(n%10)*(n%10)
    n=n//10
if x==sum:
    print("number is armstrong number")
else:
    print("number is not armstrong number")

enter any number 153
number is armstrong number

In [7]:
#reverse of any number
n=int(input("enter a number"))
reverse=int(str(n)[::-1])
print(reverse)

enter a number12345
54321

In [3]:
n=int(input('enter a number'))
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
print("reverse of given number:","=",rev)

enter a number12345
reverse of given number: = 54321

In [18]:
n=int(input("enter a number"))
x=n
rev=0
while(n>0):
      rev=(rev*10)+n%10
      n=n//10
if x==rev:
    print('number is palidrome number')
else:
    print("sorry dude")

enter a number121
number is palidrome number

In [5]:
n=int(input("enter limit to find fibonacci series"))
def fibo_num(number):
    a=1
    b=0
    sum=0
    print(b)
    print(a)
    for i in range(0,n):
        sum=a+b
        a=b
        b=sum
        print(sum)
fibo_num(n)

enter limit to find fibonacci series10
0
1
1
1
2
3
5
8
13
21
34
55

In [4]:
n=int(input("enter the last number"))
x=0
y=1
z=0
while(z<=n):
    print(z)
    x=y
    y=z
    z=x+y

enter the last number55
0
1
1
2
3
5
8
13
21
34
55

In [28]:
# WHETHER YEAR IS LEAP OR NOT
year=int(input("enter a year in four digit"))
def leap_year(number):
    if (year%400==0)or(year%100!=0)and(year%4==0):
        print("this is a leap year")
    else:
        print("sorry this is not a leap year")
leap_year(year)

enter a year in four digit1900
sorry this is not a leap year

In [54]:
# foctorial
def fact(number):
    n=int(input("enter a number to find factorial "))
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
fact(n)

enter a number to find factorial 5
120

In [56]:
def factorial():
    n=int(input("enter a number to find factorial"))
    i=n
    fact=1
    while(n!=0):
        fact=fact*n
        n=n-1
        while(i>=2):
            print(i,end="x")
            i=i-1
    print("1= ",end="")
    print(fact)
factorial()

enter a number to find factorial5
5x4x3x2x1= 120

In [4]:
#program to print pyramid
n=int(input("enter a number"))
for i in range(0,n):
    for j in range (0,i+1):
        print("*" ,end =" ")
    print()

enter a number5
*
* *
* * *
* * * *
* * * * *

In [8]:
n=int(input("enter a number"))
for i in range(0,n):
    for j in range (1,i+1):
        print(j ,end =" ")
    print()

enter a number5

1
1 2
1 2 3
1 2 3 4

In [9]:
n=int(input("enter a number"))
for i in range(0,n):
    for j in range (0,i+1):
        print(i,end =" ")
    print()

enter a number5
0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [2]:
s= "python rocks"
print(s[1] * s.index("n"))

yyyyy

In [3]:
s.index("n")

5

In [3]:
#list comprehension
fruits=["apple","banana","cherry","mango"]
new_list=[x for x in fruits if "a" in x]
print(new_list)

['apple', 'banana', 'mango']

In [4]:
fruits=["apple","banana","cherry","mango"]
new_list=[]
for x in fruits:
    if "a" in x:
        new_list.append(x)
print(new_list)

['apple', 'banana', 'mango']

In [10]:
fruits=["apple","banana","cherry","mango"]
new_list=[x for x in fruits if "p"not in x]
print(new_list)

['banana', 'cherry', 'mango']

In [15]:
fruits=["apple","banana","cherry","mango"]
new_list=[x for x in fruits if "a"not in x]
print(new_list)

['apple', 'banana', 'cherry', 'mango']

In [16]:
new_list=[i for i in range(0,10)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
fruits=["apple","banana","cherry","mango"]
new_list = [ x  if x != "banana" else "orange" for x in fruits]
print(new_list)

['apple', 'orange', 'cherry', 'mango']

In [12]:
name=["rahul","shivam","vibhanshu","gaurav"]
new=[x if x!="shivam" else "pappu" for x in name]
print(new)

['rahul', 'pappu', 'vibhanshu', 'gaurav']

In [2]:
n=int(input("enter number"))
sum=0
cube=sum(n,for n in range(**3
print(cube)

enter number3
27

In [11]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
    sum=sum+i*2
    a=sum+(i**3)
print(a)

enter a number2
14

In [1]:
def sum_of_cube(n):
    return sum(i**3 for i in range(1,n+1))
num=int(input("enter a number"))
add=sum_of_cube(num)
print(add)

enter a number3
36

In [17]:
def sum_of_cube(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i*i*i
    return sum
num=int(input("enter number to find sum :"))
x=sum_of_cube(num)
print(x)

enter number to find sum :5
225

In [1]:
#lambda function inside another function
def fun(x):
    return lambda a:a*x
double_fun=fun(2)
print(double_fun(25))

50

In [2]:
 import math

In [3]:
print(math.pow(9,4))

6561.0

In [4]:
print(math.sqrt(81))

9.0

In [5]:
print(math.factorial(5))

120

In [8]:
print(math.log10(10))

1.0

In [14]:
print(math.sin(30))

-0.9880316240928618

In [16]:
print(math.floor(5.9))

5

In [17]:
print(math.ceil(5.9))

6

In [19]:
print(abs(-20))

20

In [20]:
print(math.fabs(-20))

20.0

In [21]:
import statistics

In [25]:
print(statistics.mean([1,6,2,4,5,2,8,4,9,1,3,5,4]))

4.153846153846154

In [28]:
print(statistics.mode([2,5,6,9,2,5,1,5,12,1,2,2,2,2,6,1,5,4,4,4,4,6,5,4,5,4,6,4]))

4

In [6]:
import random

In [7]:
print(random.randint(3,9))

6

In [8]:
print(random.randrange(3,9))

6

In [9]:
print(random.random())

0.16859468512989984